snippet fig figure environment (includegraphics)
	\begin{figure}
		\includegraphics[width=${1}]{figures/${2}}
		\caption{${3}}
		\label{fig:${4}}
	\end{figure}
	${0}

snippet color textcolor tag
	\textcolor{${1:red}}{${0}}

snippet partial
	\frac{\partial ${1}}{\partial ${2}}${0}

snippet equation reference to an equation
	${1:equation} \ref{eq:${2}}${0}

